header {
  font-size: x-large;
  background: #6930C3;
  text-align: center;
  border: thick double;
  margin: 15px;
  }
main {
text-align: center;
font-size: larger;

}

footer {
  font-size: large;
  text-align: center;
  margin: 25px;
}

.two{
  margin: 25px;
}